<h1>To-Do List</h1>

<h3>New To-Do Item</h3>

<%= form_for(ToDoItem.new, :remote => true) do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h3>To-Do List</h3>

<%= list :to_do_items do |ft| %>
  <%= ft.headings do %>
    <th>Description</th>
  <% end %>
  <%= ft.editor do |editor| %>
    <td><%= editor.text_field :description %></td>
  <% end %>
<% end %>

